body {
	margin: 0;
	padding: 0;
	background-color: #1a1a1a;
	color: #fafafa;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

canvas {
	background-color: #000;
	border: 2px solid #4a4a4a;
	display: block;
	image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}